---
// Component Imports
import Recos from '../components/Recos.jsx'
// import Sauce from '../components/Sauce.astro';
// You can import components from any supported Framework here!
// const response = await fetch('https://api.opensauced.pizza/hot.json');
// const data = await response.json();
const data = await fetch('https://api.opensauced.pizza/hot.json').then((res) => res.json());
const repo = await fetch('https://opengraph.io/api/1.0/site/http%3A%2F%2Fgithub.com%2Fopen-sauced%2Fopen-sauced?app_id=0b36e0d0-8534-4ac4-b636-a023d65a60e2').then((res) => res.json());

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Hot JSON';
console.log(repo.openGraph.image.url);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <h1>Hot Open Sauced</h1>
            </div>
        </header>

        <Recos data={repo.openGraph} />

        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->

    </main>
</body>
</html>
