---
import av1 from "./placeholders/av01.jpg";
---
<nav class="flex bg-gray-200 min-h-10 w-full font-roboto font-bold px-4 py-4 sm:py-2  ">

<div class=" flex-1 flex text-2xl font-medium items-center ">
                <h1 class=" " ><span class='text-yellow-400'>Test</span>  <span class="text-darkGrey">Sauced</span> </h1>
                
</div>

<div class=" rounded-full w-10 h-10 overflow-hidden ring-2 ring-red-800 ">
                <img
                    class="object-cover w-[500] h-[500]"
                    src={av1}
                    alt="Avatar 02"
                />
</div>
</nav>